<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css"></style>
    <title>My page | ring</title>
</head>
<body>
    <header>
        <%- include('header') %>
    </header>
    <main>
        <div class="container">
            알림음을 선택해주세요
                <select style="width: 500px;" class="form-select" aria-label="Default select example" id="ring-select">
                    <option>현재 알림음</option>
                    <option value="1">벨소리1</option>
                    <option value="2">벨소리2</option>
                    <option value="3">벨소리3</option>
                    <option value="4">벨소리4</option>
                </select> 
                <button type="button" class="my-btn" onclick="putRingData()">변경</button>

        </div>
    </main>
</body>
<script>
    const userId = JSON.parse('<%-JSON.stringify(userId)%>');
    const patternLink = document.getElementById('pattern-btn');
   
    patternLink.addEventListener('click',()=>{
        window.location.href = `/user/${userId}/pattern`
    })

    const ringSelect = document.getElementById('ring-select');
    console.log(JSON.parse('<%-JSON.stringify(result)%>').result[0][0].ring)
    ringSelect.value = JSON.parse('<%-JSON.stringify(result)%>').result[0][0].ring;
    const putRingData = async()=>{
        const ringList = ['ring1.mp3','ring2.mp3','ring3.mp3','ring4.mp3']
        const ring = ringSelect.value;
        const res = await fetch(`http://127.0.0.1:8080/user/${userId}/ring`,{
            headers:{
                'content-type':'application/json'
            },
            method:'PUT',
            body:JSON.stringify({
                user_id:userId,
                ring : ring
            })
        });
        if(res.status==200){
            alert('변경 완료')
        }
    }
</script>
</html>