<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="face-api.js"></script>
  <style>
    body {
      margin: 0;
      padding: 0;
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    canvas {
      position: absolute;
    }
  </style>
</head>
<body>
  <div style="display: flex; flex-direction: column;">
    <video id="video" width="720" height="560" autoplay muted></video>
    <div id='output'></div>
  </div>
  <!-- <img id="imgfile"> -->
</body>
<script>
    const video = document.getElementById("video");

Promise.all([
  faceapi.nets.tinyFaceDetector.loadFromUri("/"),
  faceapi.nets.faceLandmark68Net.loadFromUri("/"),
  faceapi.nets.faceRecognitionNet.loadFromUri("/"),
  faceapi.nets.faceExpressionNet.loadFromUri("/"),
]).then(startVideo);

function startVideo() {
  navigator.mediaDevices
    .getUserMedia({ video: true })
    .then(function (stream) {
      video.srcObject = stream;
    })
    .catch(function (err) {
      console.log(err);
    });
}
let text = document.getElementById('text');
let canvas;
video.addEventListener("play", () => {
  canvas = faceapi.createCanvasFromMedia(video);
  document.body.append(canvas);
  const displaySize = { width: video.width, height: video.height };
  faceapi.matchDimensions(canvas, displaySize);
  setInterval(async () => {
    const detections = await faceapi
      .detectAllFaces(video, new faceapi.TinyFaceDetectorOptions())

    const resizedDetections = faceapi.resizeResults(detections, displaySize);
    canvas.getContext("2d").clearRect(0, 0, canvas.width, canvas.height);
    faceapi.draw.drawDetections(canvas, resizedDetections);

    if (detections.length != 0){
        video.pause();  
    }
    console.log(resizedDetections)}, 100);
});

video.addEventListener("pause", () => {    
    console.log('pause')
  let w = video.width;
  let h = video.height;
  let canvas2 = document.createElement('canvas')
    canvas2.width = w;
    canvas2.height = h;
    let ctx = canvas2.getContext('2d')
    ctx.drawImage(video,0,0,w,h)
    document.getElementById('output').appendChild(canvas2)
});

</script>
</html>