@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
   
*{
    font-family: 'NanumSquareRound';
}

body{
    background-color: rgb(13, 26, 37);  
}

header {
    background-color: rgb(13, 26, 37);
    position: fixed;
    top: 40px;
    left: 0;
    right: 0;
}

.logo{
    font-family: 'Cafe24Ssurround';
    color: white;
    font-size: 45px;
    text-decoration: none;
}
.nav-btns button{
    padding-top: 10px;
    margin-right: 15px;
}

.container{
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 80vh;
}
.container p{
    font-family: 'Cafe24Ssurround';
    font-size: 60px;
}

h2{
    font-family: 'Cafe24Ssurround';
}

.sign-up-container, .login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    width: 80%;
}



.my-form{
    width: 100%;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 3px solid rgb(13, 26, 37);
}

.my-btn{
    background-color: rgb(13, 26, 37);
    color: white;
    margin-top: 20px;
    border: 0;
    border-radius: 5px;
    font-size: large;
}

.my-btn:hover{
    background-color: white;
    color: rgb(13, 26, 37);
    border: 0;
}
